.xxx-camera-cell-device {
  margin-left: .5rem;
}

.xxx-camera-delete-icon {
  font-size: .5rem;
}

.xxx-camera-item {
  cursor: pointer;
}

.xxx-camera-list-container {
}

.xxx-camera-list-row {
  align-items: center;
  cursor: grab;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.xxx-list-title {
  background-color: aliceblue;
  font-size: 1rem;
  padding: .5rem;
}

.xxx-page-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.xxx-page-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.xxx-page-title {
  font-size: 1.2rem;
}

.xxx-vehicle-list-camera-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.xxx-vehicle-list-cell-camera-device {
  margin-left: .5rem;
  width: 6rem;
}

.xxx-vehicle-list-cell-delete-camera {
  width: 1rem;
}

.xxx-vehicle-list-cell-delete-camera button {
  background-color: lightgray;
  cursor: pointer;
}

.xxx-vehicle-list-cell-name {
  margin-left: .5rem;
  width: 6rem;
}

.xxx-vehicle-list-container {
  margin-left: 2rem;
}

.xxx-vehicle-list-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 1rem;
}

mat-icon.xxx-camera-delete-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}
